# To stop lombok from looking at parent directories for more configuration files, the special key:
config.stopBubbling = true

# Lombok can be configured to add @lombok.Generated annotations to all generated nodes where possible; 
# useful for JaCoCo (which has built in support), or other style checkers and code coverage tools:
# https://projectlombok.org/features/configuration

lombok.addLombokGeneratedAnnotation = true

# The key 'JDK' result in an invocation to the standard nullcheck method of the
# java.util.Objects.requireNonNull([field name here], "[field name here] is marked non-null but is null");
# https://projectlombok.org/features/NonNull#supported-configuration-keys

lombok.nonNull.exceptionType = JDK

# Copy the Qualifier annotation from the instance variables to the constructor
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
